@media screen and (max-width: 600px) {
    aside{
        max-width: 50px;
    }

    .mb-hide{
        display: none;
    }

    .mb-show{
        display: flex;
    }

    aside .bottom a:first-child {
        border-bottom: 0px ;
    }
    

    aside .logo{
        width: 20px;
     }

     aside .top > *{
        margin: 0;
        padding: 0;
    }

    aside .logo{
        margin-left: 1rem;
        margin-top: 5px;
    }

    aside a.active{
        border: 0px;
    }
    
    main .container{
        margin-left: 50px;
    }

    
}